.loader{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-page{
    padding: 25px 10%;
    display: flex;
    flex-wrap: wrap;
}

.product-photo{
    width: 450px;
}

.product-photo img{
    width: 100%;
}

.product-details{
    margin-left: 50px;
    max-width: 500px;
}

.the-name{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 48px;
    letter-spacing: -2px;
}

.the-brand{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 26px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.the-price{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.the-price span{
    color: #009688;
    font-weight: bold;
}

.description-title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.the-desc{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #86939e;
}

.preview-title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.the-photos{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.small-photo{
    width: 60px;
    margin: 0 5px;
}

.small-photo img{
    width: 100%;
    cursor: pointer;
}

.add-to-cart-btn{
    margin: 0;
    margin-top: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}